.photo-card__like {
  height: 19px;
  width: 22px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: url(../../../images/like.svg);
  background-size: 19px 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
