.profile__info_metier {
  margin: 16px auto auto 0;
  max-width: 336px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 810px) {
  .profile__info_metier {
    margin: 14px auto 0;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
