.photo-card__trash-button {
  background-image: url(../../../images/TrashButton.svg);
  position: absolute;
  padding: 0;
  height: 19px;
  width: 18px;
  top: 20px;
  right: 20px;
  border: none;
  background-size: 19px 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.photo-card__trash-button:hover {
    opacity: 0.6;
    cursor: pointer;
}