.footer {
  max-width: 880px;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  margin: 66px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 66px 72px 0;
  }
}

@media screen and (max-width: 810px) {
  .footer {
    margin: 48px 19px 0;
    padding-bottom: 36px;
  }
}
